In [4]:
import pandas as pd
import numpy as np

In [12]:
students_performance = pd.read_csv("StudentsPerformance.csv")

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [7]:
students_performance.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

In [11]:
students_performance.iloc[:3, :5]

,gender,race/ethnicity,parental level of education,lunch,test preparation course
0,female,group B,bachelor's degree,standard,none
1,female,group C,some college,standard,completed
2,female,group B,master's degree,standard,none

In [14]:
students_performance_w = students_performance.iloc[[0, 3, 4, 7, 8]]

In [17]:
students_performance_w.index = ["Lox", "pi", "dor", "nanna", "sdds"]

In [16]:
students_performance_w

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
Lox,female,group B,bachelor's degree,standard,none,72,72,74
pi,male,group A,associate's degree,free/reduced,none,47,57,44
dor,male,group C,some college,standard,none,76,78,75
nanna,male,group B,some college,free/reduced,none,40,43,39
sdds,male,group D,high school,free/reduced,completed,64,64,67

In [28]:
st_per_all = pd.read_csv("StudentsPerformance1.csv")

In [29]:
st_per_lubch = st_per_all[st_per.lunch == 'free/reduced']

In [32]:
st_per_all.mean()

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

In [33]:
st_per_all.var()

math score       229.918998
reading score    213.165605
writing score    230.907992
dtype: float64

In [35]:
st_per_lubch.mean()

math score       58.921127
reading score    64.653521
writing score    63.022535
dtype: float64

In [36]:
st_per_lubch.var()

math score       229.824270
reading score    221.871139
writing score    238.202881
dtype: float64

In [6]:
student_stats = pd.read_csv("StudentsPerformance2.csv")

In [8]:
student_stats[student_stats['parental level of education'].isin(["bachelor's degree", "master's degree"])].head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
2,female,group B,master's degree,standard,none,90,95,93
14,female,group A,master's degree,standard,none,50,53,58
18,male,group C,master's degree,free/reduced,completed,46,42,46
24,male,group D,bachelor's degree,free/reduced,completed,74,71,80

In [10]:
student_stats.filter(like='education').head()

  parental level of education
0           bachelor's degree
1                some college
2             master's degree
3          associate's degree
4                some college