In [1]:
import pandas as pd

In [2]:
d = {'type': 2*['A'] + 2*['B'], 'value': [10, 14, 12, 23]}
my_data = pd.DataFrame(data=d)

In [3]:
import pandas as pd
my_stat = pd.read_csv('my_stat.csv')

In [4]:
subset_1 = my_stat.iloc[:10, [0, 2]]
subset_2 = my_stat.loc[(my_stat.index != 0) & (my_stat.index != 4)].iloc[:, [1, 3]]

In [5]:
ss_1 = my_stat[(my_stat.V1 > 0) & (my_stat.V3 == 'A')]
ss_2 = my_stat[(my_stat.V2 !=10) | (my_stat.V4 >= 1)]

In [7]:
my_stat.V5 = my_stat.V1 + my_stat.V4
import numpy as np
my_stat.V6 = np.log(my_stat.V2)

In [8]:
my_stat.head()

   V1    V2 V3   V4
0   2  13.0  B  1.0
1  -1   7.0  B  1.0
2   0  11.0  A  0.0
3   2  11.0  A  2.0
4   0  10.0  B -1.0

In [9]:
stat = my_stat.rename({'V1': 'session_value', 'V2': 'group', 'V3': 'time', 'V4': 'n_users'}, axis='columns')

In [10]:
stat.head()

   session_value  group time  n_users
0              2   13.0    B      1.0
1             -1    7.0    B      1.0
2              0   11.0    A      0.0
3              2   11.0    A      2.0
4              0   10.0    B     -1.0

In [11]:
my_stat = pd.read_csv('my_stat_1.csv')
my_stat.head(20)

   session_value  time group  n_users
0            0.0    12     B        9
1            NaN    11     A       -1
2            1.0     8     A        1
3            2.0     9     B        3
4            2.0    10     B        9
5            3.0     8     A        8
6            NaN    11     B        5
7            0.0     9     A        4
8            0.0     8     B      -11
9            0.0     9     A      -20

In [12]:
val = {"session_value": 0}
my_stat.fillna(0)

   session_value  time group  n_users
0            0.0    12     B        9
1            0.0    11     A       -1
2            1.0     8     A        1
3            2.0     9     B        3
4            2.0    10     B        9
5            3.0     8     A        8
6            0.0    11     B        5
7            0.0     9     A        4
8            0.0     8     B      -11
9            0.0     9     A      -20

In [13]:
my_stat['session_value'].fillna(0)
subset_2 = my_stat[(my_stat['n_users'] >= 0)]
my_stat.loc[(my_stat['n_users'] < 0) & (my_stat['n_users'] != -0.0), 'n_users'] = subset_2['n_users'].median()

In [14]:
my_stat.head(20)

   session_value  time group  n_users
0            0.0    12     B      9.0
1            NaN    11     A      5.0
2            1.0     8     A      1.0
3            2.0     9     B      3.0
4            2.0    10     B      9.0
5            3.0     8     A      8.0
6            NaN    11     B      5.0
7            0.0     9     A      4.0
8            0.0     8     B      5.0
9            0.0     9     A      5.0

In [2]:
import pandas as pd
my_stat = pd.read_csv('my_stat_1.csv')
my_stat.head(20)

   session_value  time group  n_users
0            0.0    12     B        9
1            NaN    11     A       -1
2            1.0     8     A        1
3            2.0     9     B        3
4            2.0    10     B        9
5            3.0     8     A        8
6            NaN    11     B        5
7            0.0     9     A        4
8            0.0     8     B      -11
9            0.0     9     A      -20

In [7]:
mean_session_value_data = my_stat.groupby('group', as_index=False)\
.session_value.mean()\
.rename({'session_value': 'mean_session_value'}, axis='columns')

In [8]:
mean_session_value_data.head()

  group  mean_session_value
0     A                 1.0
1     B                 1.0